
<%= flash[:notice] %>

<p><strong>Title:</strong>


  <%= @book.title %>
  
</p>

<p><strong>Body:</strong>

  <%= @book.body %>


</p>

<a class="Edit" href="/books/<%= @book.id %>/edit">Edit</a>
<a class="Back" href="/books">Back</a>
